<div class="post-form">
  <h2>Post a Damage</h2>
  <form>
      <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-map-marker-alt"></i></span>
          <input list="locations" type="text" placeholder="Location" required />
          <datalist id="locations">
              <option value="Area-1">
              <option value="Area-2">
              <option value="Area-3">
              <option value="Area-4">
              <option value="Area-5">
              <option value="Area-6">
              <option value="Area-7">
              <option value="Area-8">
          </datalist>
      </div>
      <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-image"></i></span>
          <input type="file" accept="image/*" required />
      </div>
      <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
          <textarea placeholder="Description" required></textarea>
      </div>
      <button type="submit">Post</button>
  </form>
</div>