<h1 class="damages title">
    <i class="fas fa-tools d-none d-sm-inline"></i> 
    Damage List
    <i class="fas fa-tools d-none d-sm-inline"></i> 
</h1>

<div class="table-responsive">
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <!-- Other rows... -->
            <tr>
                <th scope="row">1</th>
                <td>2/12/2024</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-link imageModalButton" data-toggle="modal" data-target="#imageModal1"> 
                        Image
                    </button>
                    <div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel1">Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="https://via.placeholder.com/150" alt="Image description" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td> 
                    <button type="button" class="btn btn-link modalButton" data-toggle="modal" data-target="#exampleModal">
                        Click to view text
                    </button>
                </td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modalBody">
                                dsfhusdjghsdjkfhusayfuoasjdfyuadsy  
                                fddsgfgf
                                bfgfhdfkjg j fhdkj bfdjghdf gdf fjdbgfdg
                                fgdfgufdkg
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    <p class="status">In progress</p>
                </td>
            </tr>
            <!-- Other rows... -->
            <!-- Other rows... -->
            <tr>
                <th scope="row">2</th>
                <td>2/10/2024</td>
                <td>Otto</td>
                <td>
                    <button type="button" class="btn btn-link imageModalButton" data-toggle="modal" data-target="#imageModal1"> 
                        Image
                    </button>
                    <div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel1">Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="https://via.placeholder.com/150" alt="Image description" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td> 
                    <button type="button" class="btn btn-link modalButton" data-toggle="modal" data-target="#exampleModal">
                        Click to view text
                    </button>
                </td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modalBody">
                                fgfgfhgf fdisfkh dfbufdjgbgfudfvn c fhugurhjfbgdfugr
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    <p class="status">Fixed</p>
                </td>
            </tr>
            <!-- Other rows... -->
            <!-- Other rows... -->
            <tr>
                <th scope="row">3</th>
                <td>8/10/2024</td>
                <td>Area</td>
                <td>
                    <button type="button" class="btn btn-link imageModalButton" data-toggle="modal" data-target="#imageModal1"> 
                        Image
                    </button>
                    <div class="modal fade" id="imageModal1" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="imageModalLabel1">Image</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="https://via.placeholder.com/150" alt="Image description" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td> 
                    <button type="button" class="btn btn-link modalButton" data-toggle="modal" data-target="#exampleModal">
                        Click to view text
                    </button>
                </td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body modalBody">
                                fgfgfhgf fdisfkh dfbufdjgbgfudfvn c fhugurhjfbgdfugr vfgfgdfghfjgufdhgfnbvjhfdgvf
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>
                    <p class="status">To Fix</p>
                </td>
            </tr>
            <!-- Other rows... -->
        </tbody>
    </table>
</div>

<script>
    var modalBodies = document.getElementsByClassName('modalBody');
    var modalButtons = document.getElementsByClassName('modalButton');

    for (var i = 0; i < modalBodies.length; i++) {
        var modalBody = modalBodies[i].textContent.trim();
        var modalButton = modalButtons[i];

        // Set the button text to the first 12 characters of the trimmed modal body text
        modalButton.textContent = modalBody.substring(0, 12) + '...';

        // Set the button title to the full modal body text
        modalButton.title = modalBody;
    }

    var statusCells = document.getElementsByClassName('status');

    for (var i = 0; i < statusCells.length; i++) {
        var statusCell = statusCells[i];
        var statusText = statusCell.textContent.trim().toLowerCase();

        if (statusText === 'fixed') {
            statusCell.classList.add('status-fixed');
        } else if (statusText === 'to fix') {
            statusCell.classList.add('status-to-fix');
        } else if (statusText === 'in progress') {
            statusCell.classList.add('status-in-progress');
        }
    }
</script>



