<div class="container-fluid bg-light">
    <br/>
    Filters
    <br/>
</div>

<br/>

<div class="table-responsive">
    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Image</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@twitter</td>
                <td>To-fix</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@twitter</td>
                <td>To-fix</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Otto</td>
                <td>Otto</td>
                <td>@twitter</td>
                <td>dsfhusdjghsdjkfhusayfuoasjdfyuadsy</td>
                <td>In progress</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Otto</td>
                <td>Otto</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>To-fix</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Otto</td>
                <td>Otto</td>
                <td>@twitter</td>
                <td>@twitter</td>
                <td>Fixed</td>
            </tr>
        </tbody>
    </table>
</div>