<div class="post-form">
    <h2>Worker - Home</h2>
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-pencil-alt"></i></span>
            <input type="text" placeholder="Enter your profession" required />
        </div>
        <button type="submit">Continue</button>
    </form>
</div>