@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.body-login {
    background-color: #1b1a1a;
}

.login-form {
    font-family: 'Roboto Mono', monospace;
    width: 300px;
    padding: 30px;
    background-color: #343a40;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.login-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    margin: 0;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

.login-form .input-group-text {
    height: calc(1.5em + .75rem + 7px); 
    color: #333;
}

.login-form .input-group-text i {
    font-size: 14px;
}

.login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(240, 208, 4, 0.527);
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border: 3px solid #ffc107;
    background-color: rgb(27, 27, 27);
    color: #ffc107;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-form button:hover {
    background-color: #ffc107;
    color: black;
}

/************ POST FORM **********************/

.body-damage {
    background-color: #1b1a1a;
}

.post-form {
    font-family: 'Roboto Mono', monospace;
    width: 350px;
    padding: 30px;
    background-color: #343a40;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.post-form h2 {
    text-align: center;
    color: #dddddd;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin: 10px 0;
}

.input-group-addon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #343a40;
}

.post-form input, .post-form textarea {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #333;
    background-color: #dddddd;
}

.post-form textarea {
    height:100px;
}

.post-form button {
    width: 100%;
    padding: 10px;
    border: 3px solid #ffc107;
    background-color: rgb(27, 27, 27);
    color: #ffc107;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-form button:hover {
    background-color: #ffc107;
    color: black;
}


/************* table ********************/

.damages.title {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: rgb(216, 214, 214);
    margin-bottom: 40px;
}

.technicians.title {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: rgb(216, 214, 214);
    margin-bottom: 40px;
}

/* background color of the table header */
.table thead th {
    background-color: #343a40; 
    color: rgb(216, 214, 214); 
}

.admintable thead th {
    background-color: #343a40; 
    color: rgb(216, 214, 214); 
}

.technicianstable thead th {
    background-color: #343a40; 
    color: rgb(216, 214, 214); 
}

/* background color of the table rows */
.table tbody tr {
    color: rgb(216, 214, 214); 
}

.admintable tbody tr {
    color: rgb(216, 214, 214); 
}

.technicians tbody tr {
    color: rgb(216, 214, 214); 
}

/* color of the table text */
.table tbody tr td {
    color: #343a40; 
    border: none; 
}

.admintable tbody tr td {
    color: #343a40; 
    border: none; 
}

.technicianstable tbody tr td {
    color: #343a40; 
    border: none; 
}

.table tbody tr th {
    color: #343a40; 
    border: none; 
}

.admintable tbody tr th {
    color: #343a40; 
    border: none; 
}

.technicianstable tbody tr th {
    color: #343a40; 
    border: none; 
}

/* font family of the table text */
.table {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.admintable {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.technicianstable {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.btn.btn-link {
    border: none;
}

.btn-link {
    color: #343a40 !important;
    text-decoration: none !important;
}

.btn-link:hover {
    color: #ffc107 !important;
    text-decoration: none !important;
}

.dataTables_filter input {
    color: #ffc107; /* Change the text color */
    font-size: 16px; /* Change the font size */
    background-color: rgb(216, 214, 214); /* Change the background color */
}

.dataTables_length select {
    color: rgb(216, 214, 214); /* Change the text color */
    font-size: 16px; /* Change the font size */
}

/* Change the text color of the dropdown options */
.dataTables_length select option {
    color: #212529; /* Dark grey color */
}

.dataTables_paginate .paginate_button {
    color: #ffc107; /* Change the text color */
    font-size: 16px; /* Change the font size */
    background-color: rgb(216, 214, 214); /* Change the background color */
}

.dataTables_filter label,
.dataTables_length label,
.dataTables_info {
    color: rgb(216, 214, 214) !important; 
    font-family: 'Roboto Mono', monospace;
}

.dataTables_paginate .paginate_button {
    font-family: 'Roboto Mono', monospace;
}

.table thead th {
    border-top: none;
}

.admintable thead th {
    border-top: none;
}

/* Center and enlarge the image in the modal */
.modal-body img {
    display: block;
    margin: auto;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
}

.status-fixed {
    color: green;
    font-weight: bold;
}

.status-to-fix {
    color: red;
    font-weight: bold;
}

.status-in-progress {
    color: orange;
    font-weight: bold;
}

.fa-tools{
    color:#d8a200;
}

/******* status drop down *************/

.extra-bars{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.techlink {
    display: block;
    font-family: 'Roboto Mono', monospace;
    color: rgb(216, 214, 214) !important;
}

.status-filter label {
    margin-right: -7px; /* Adjust as needed */
}

.status-filter {
    display: block;
    text-align: end;
    font-family: 'Roboto Mono', monospace;
    color: rgb(216, 214, 214);
}

.status-filter select {
    font-family: 'Roboto Mono', monospace;
    color: rgb(216, 214, 214);
    background: #333; 
    width: 212px;
    height: 30px;
    border-radius: 5px;
}

@media screen and (max-width: 650px) {
    .status-filter {
        text-align: center;
        margin-bottom: 8px;
    }
    .extra-bars {
        display: block; 
        justify-content: initial; 
        margin-bottom: 10px;
    }
    .techlink {
        justify-content: center;
        margin-bottom: 8px;
    }
}

/****************** table **************************/

.nav-item{
    font-family: 'Roboto Mono', monospace;
}

.navbar-brand{
    font-family: 'Roboto Mono', monospace;
}

.login-button {
    background-color: rgb(40, 34, 34);
    color: #d8a200;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    margin-right: 10px;
    width: 100px;
}

.login-button:hover {
    background-color: #d8a200;
    color: darkgray;
}

.register-button {
    background-color: rgb(40, 34, 34);
    color: #d8a200;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    width: 100px;
}

.register-button:hover {
    background-color: #d8a200;
    color: darkgray;
}

.icon-button {
    padding: 0 5px; /* Adjust as needed */
}
